# Contentful credentials
CONTENTFUL_ORG_ID=
CONTENTFUL_APP_DEF_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_CDA_TOKEN=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT_ID=master

# NPR configuration (used by preview-cds-document CLI tool)
NPR_SERVICE_ID=
CDS_DOCUMENT_PREFIX=contentful-cds
CONTENTFUL_CDA_TOKEN=
CANONICAL_URL_TEMPLATE=
AUDIO_EMBED_URL_TEMPLATE=
LOCALE=en-US
RECOMMEND_UNTIL_DAYS=7
ENABLE_LAYOUT=false
